<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dodaj książke</title>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/adminTEMP.css" />
    </head>
    <body>
        <div class="header">
            <div class="menu">
                <ul>
                    <li><a href="/admin">Strona główna</a></li>

                    <li><a href="/admin/new">Dodaj książkę</a></li>

                    <li><a href="/admin/edit">Edytuj książkę</a></li>

                    <li><a href="/admin/delete">Usuń książkę</a></li>

					<li><a href="/admin/tags">Zarządzaj tagami</a></li>

					<li><a href="/admin/logout">Wyloguj się</a></li>
                </ul>
            </div>

            <div class="header-content">
                <% if (msg) { %>
                <h1><%= msg %></h1>
                <script>
                    window.history.pushState({}, document.title, window.location.pathname);
                </script>
                <% } %>
                <h1>Add a book</h1>
                <form action="/admin/new" method="post" enctype="multipart/form-data">
                    <input type="text" name="title" placeholder="Title" /><br />
                    <input type="text" name="author" placeholder="Author" /><br />
                    <textarea name="desc" cols="30" rows="10" placeholder="Description"></textarea><br />
                    <input type="file" name="img" /><br />
                    <div class="tags">
                        <% tags.forEach(tag => { %>
                            <label for="<%= tag.name %>"><%= tag.name %><input type="checkbox" name="tags" id="<%= tag.name %>" value="<%= tag.name %>" /></label>
                        <% }) %>
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
    </body>
</html>
