<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=2.0" />
		<title>READ ON!</title>

		<link rel="stylesheet" href="/css/index.css" />
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>

		<link rel="stylesheet" href="/fontello/css/fontello.css" />
	</head>
	<body>
		<div class="header">
			<div class="menu">
				<div class="toggleMenu">
					<i class="icon-menu" id="menuIcon"></i>
				</div>
				<div class="menuList" id="menuList">
					<ul>
						<li><a href="/admin/login">Zaloguj się</a></li>

						<li><a href="/">Strona główna</a></li>
					</ul>
				</div>
			</div>

			<div class="header-content">
				<div class="title">
					<h2 id="readText">READ <span id="onText">ON!</span></h1>
				</div>
				<div class="title-content">
					<p id="titleText"></p>
				</div>
			</div>
		</div>

		<div class="main">
			<p class="textMain">Lista dostępnych książek</p>
			<form style="text-align: center;" action="/book" method="post">
				<input type="text" name="title" placeholder="Wpisz nazwę książki" id="bookName"/><br>
	
				<input type="submit" value="Szukaj" />
				<input type="button" value="Wybierz kategorię" id="categoryButton"/>
				<div class="tags" id="tags" style="display: none;">
					<% tags.forEach(tag => { %>
					<label for="<%= tag.name %>" ><%= tag.name %><input type="checkbox" name="tags" class="tag" id="<%= tag.name %>" value="<%= tag.name %>"/></label>
					<% }) %>
				</div>
			</form>

			<script>
				$(document).ready(function(){
					$("#categoryButton").click(function(){
						$("#tags").toggle(500);
					})
					
					$(".tag").click(function() {
						$(this).parent().toggleClass("selected");
					});
				})
			</script>


			<script>
				$(document).ready(function(){
					$("#bookName").click(function(){
                            $("#bookName").css({
							backgroundColor: 'purple',
							color: 'white'
						})
					})
							$("#bookName").mouseover(function(){
								$("#bookName").css({
								borderColor: 'purple',
								borderWidth: '1px',
								borderStyle: 'solid',
								borderRadius: '10px',
								color: 'white',
								transition: '0.5s'
						})
					})
				})
			</script>

			<script>
				$(document).ready(function(){
					$("#menuIcon").click(function(){
						$("#menuList").toggle(500)
					})
				})
			</script>
			<div class="bookList">
				<% books.forEach(book => { %>
					<a href="/book/<%= book._id %>">
						<div class="book" id="book">
							<div class="image" id="image">
								<img src="<%= book.imgLink %>" class="img" alt="Book cover" />
							</div>
			
							<div class="book-content">
								<div class="book-title" id="bookTitle">
									<p><%= book.title %></p>
								</div>
			
								<div class="author" id="author">
									<p><%= book.author %></p>
								</div>
								<div class="description" id="description" style="display: none">
									<p id="bookDesc" class="bookDesc"><%= book.desc %></p>
								</div>

								<div class="category" id="category">
									<p><%= book.tags.slice(0,3) %></p>
								</div>
							</div>
						</div>
					</a>
				<% });%>

				<div class="pages">
					<div class="previous">
						<% if (currentPage != 1) { %>
							<a href="/?page=<%= currentPage - 1 %>">Previous</a>
						<% } %>
					</div>

					<div class="pagesList">
						<% if (pages <= 5) {%>
							<% for (let i = 1; i <= pages; i++) { %> 
								<a href="/?page=<%= i %>"><button><%= i %></button></a>
							<% } %>
						<% } else { %>
							<% if (currentPage <= 2) { %>
								<% for (let i = currentPage - 2; i <= currentPage + 2; i++) { %> 
									<a href="/?page=<%= i %>"><button><%= i %></button></a>
								<% } %>
							<% } else if(currentPage >= pages - 2) { %>
								<% for (let i = currentPage - 2; i <= pages; i++) { %> 
									<a href="/?page=<%= i %>"><button><%= i %></button></a>
								<% } %>
							<% } else { %>
								<% for (let i = currentPage - 2; i <= currentPage + 2; i++) { %> 
									<a href="/?page=<%= i %>"><button><%= i %></button></a>
								<% } %>
							<% } %> 
						<% } %>
					</div>

					<div class="next">
						<% if (currentPage != pages) { %>
							<a href="/?page=<%= currentPage + 1 %>">Next</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	<script src="/js/index.js"></script>
	<script src="/js/konami.js"></script>
	<script>
		new Konami(() => {
			document.getElementById("readText").innerHTML = "BOOK <span id='onText'>HUB</span>"
			setTimeout(() => {
				document.getElementById("onText").style.backgroundColor = "#FFA31A";
			}, 1)
			var music = Math.random() < 0.5 ? new Audio("/music/metal-gear-solid-3.mp3") : new Audio("/music/metal-gear-rising.mp3");
			music.play();
		})
	</script>
	</body>
</html>
<!--       _                                                 _
       .__(.)< (MEOW)    (Vote Sweden at ESC ⭐ CORNELIA) >(.)__.
        \___)                                              (___/
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->